data/fib1-0-0-0.nii.gz
data/fib1-1-0-3.nii.gz
data/fib1-3-2-1.nii.gz
data/fib1-3-3-0.nii.gz
data/fib1-4-3-0.nii.gz
data_ga/approximate/fib1-4-3-0.nii.gz
data_ga/approximate/fib1-1-0-3.nii.gz
data_ga/approximate/fib1-3-3-0.nii.gz
data_ga/approximate/fib1-3-2-1.nii.gz
data_ga/approximate/fib1-2-2-3.nii.gz
data_ga/approximate/fib1-2-3-0.nii.gz
data_ga/approximate/fib1-2-3-2.nii.gz

extracted_data
extracted_ga_data
skeletons
.idea

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/figures