data/*
!data/.gitkeep
data_ga/*
!data_ga/approximate/.gitkeep

extracted_data/*
!extracted_data/.gitkeep
extracted_data/learning
!extracted_data/learning/.gitkeep
!extracted_data/test/.gitkeep

extracted_ga_data/*
!extracted_ga_data/.gitkeep

ga_instances/*
!ga_instances/.gitkeep

measurements/*
!measurements/learn/.gitkeep
!measurements/testing/.gitkeep

measurements_ga/*
!measurements_ga/learn/.gitkeep
!measurements_ga/testing/.gitkeep

skeletons/*
!skeletons/learn/.gitkeep
!skeletons/test/.gitkeep

.idea

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/figures